<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGuEt_RlbpUYtx8hZ-2Fxpu3aRLR-TAcU</string>
	<key>GCM_SENDER_ID</key>
	<string>366770963195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebeal.clone</string>
	<key>PROJECT_ID</key>
	<string>berealstep</string>
	<key>STORAGE_BUCKET</key>
	<string>berealstep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366770963195:ios:d2be2617d9555c30dda65e</string>
	<key>DATABASE_URL</key>
	<string>https://berealstep-default-rtdb.firebaseio.com</string>
</dict>
</plist>